<div class="gis_ShareDijit">
    <div class="formContainer">
        <div>
            <table cellspacing="5" style="width:100%;">
                <tbody>
                    <tr>
                        <td>
                            <button data-dojo-type="dijit.form.Button" data-dojo-props="iconClass:'emailIcon',showLabel:true"
                            data-dojo-attach-event="onClick:emailLink">
                                Email<br>Link
                            </button>
                        </td>
                        <td>
                           <button data-dojo-type="dijit.form.Button" data-dojo-props="iconClass:'feedbackIcon',showLabel:true"
                            data-dojo-attach-event="onClick:sendFeedback">
                                Send<br>Feedback
                            </button>
                        </td>
                        <td>
                            <button data-dojo-type="dijit.form.Button" data-dojo-props="iconClass:'clipboardIcon',showLabel:true,drawType:'CIRCLE'"
                            data-dojo-attach-event="onClick:copyToClipboard">
                                Copy to<br>Clipboard
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
